In [23]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd 
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score, accuracy_score, f1_score
from sklearn.model_selection import train_test_split

In [2]:
#Load the data into Pandas dataframe
df = pd.read_csv('task2_en_training.tsv', sep='\t')[['class', 'tweet']]
df['class'] = df['class'].apply(lambda x: int(x))
df.head()

   class                                              tweet
0      0                depression hurts, cymbalta can help
1      0  @jessicama20045 right, but cipro can make thin...
2      0         @fibby1123 are you on paxil .. i need help
3      0  @redicine the lamotrigine and sjs just made ch...
4      0  have decided to skip my #humira shot today. my...

In [3]:
df = df.iloc[np.random.permutation(len(df))]
df.head()

       class                                              tweet
795        0  my trazodone has b een ready since tuesday but...
6570       0  medical marijuana now being compared to thalid...
5427       0            #unpopularopinion cymbalta doesn't help
7926       0  @reuters_health of course they do. aspirin is ...
11878      0  life's a bitch she tryna do me in, but i fuck ...

In [25]:
X = df['tweet']
Y = df['class']

feature_extraction = TfidfVectorizer()
X = feature_extraction.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, Y , test_size=0.2)

In [26]:
SVM = SVC(kernel='linear')
SVM.fit(X_train,y_train)

predictions_SVM = SVM.predict(X_test)

In [27]:
print("SVM Accuracy Score -> ", accuracy_score(predictions_SVM, y_test)*100)
print("SVM F1 Score -> ", f1_score(predictions_SVM, y_test)*100)
print("SVM Roc_auc Score -> ", roc_auc_score(predictions_SVM, y_test)*100)

SVM Accuracy Score ->  92.13920661961548
SVM F1 Score ->  31.422505307855626
SVM Roc_auc Score ->  82.25283434072193