In [24]:
import numpy as np
import pandas as pd
import spacy_udpipe

In [25]:
df = pd.read_csv('../task2_data/task2_en_training.tsv',delimiter='\t')
df

,tweet_id,user_id,class,tweet
0,344266386467606528,809439366,0,"depression hurts, cymbalta can help"
1,349220537903489025,323112996,0,"@jessicama20045 right, but cipro can make thin..."
2,351421773079781378,713100330,0,@fibby1123 are you on paxil .. i need help
3,326594278472171520,543113070,0,@redicine the lamotrigine and sjs just made ch...
4,345567138376994816,138795534,0,have decided to skip my #humira shot today. my...
...,...,...,...,...
20539,469009954251481088,23177032,1,@hornetweb my mri scan shows when it happens b...
20540,468518427125358592,1961096371,1,remember 2003. vioxx costs $65m to ontario dru...
20541,512254891361075200,321391071,1,asians are at higher risk for severe allergic ...
20542,491775200610893825,2484689840,1,5. so what caused the #estrogen surges in #nuv...
20543,535492308817682432,330650218,1,@twittalesskels ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ i'm high off this tamiflu...

In [26]:
spacy_udpipe.download("en")
nlp = spacy_udpipe.load("en")

def lemmatize_with_postag(text = """"Wikipedia is a free online encyclopedia, created and 
                          edited by volunteers around the world.""",
                          nlp=nlp):
    doc = nlp(text)
    tagged = []
    for token in doc:
        lemma = token.lemma_
        if lemma[0] in '@?':
            continue        
        pos = token.pos_
        #pos = pos.split('=')[0].strip()
        if pos not in ["PUNCT"]: #["VERB", "NUM", "ADV", "NOUN", "ADJ", "AUX", "PRON", "ADP", "DET", "ADV", "INTJ", "PROPN"]:
            tagged.append(lemma.lower() + '_' + pos)
        #else : print(pos)
    return tagged

Already downloaded a model for the 'en' language

In [28]:
prepared_data = pd.concat([df['tweet'].apply(lemmatize_with_postag), df['class']], axis=1)

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

prepared_data = shuffle(prepared_data)

train_data, test_data = train_test_split(prepared_data, test_size=0.3)
test_data, validation_data = train_test_split(test_data, test_size=0.5)

train_data.shape, validation_data.shape, test_data.shape

((14380, 2), (3082, 2), (3082, 2))

In [37]:
train_data.to_csv(r'train_data_2.csv', index=False, header=True)
validation_data.to_csv(r'validation_data_2.csv', index=False, header=True)
test_data.to_csv(r'test_data_2.csv', index=False, header=True)

In [38]:
! ls

 123.csv		        LSTM		      test_data_2.csv
 check_sigmoid.ipynb	        LSTM_CNN.ipynb	      train_data_2.csv
'Classic methods '	        myclass.py	      Untitled.ipynb
 CNN			        __pycache__	      validation_data_2.csv
 Data_discovering_T2_T3.ipynb   Shuffle_split.ipynb

In [39]:
pd.read_csv('validation_data_2.csv')

                                                  tweet  class
0     ['some_DET', 'lady_NOUN', 'on_ADP', 'the_DET',...      0
1     ['like_INTJ', 'my_PRON', 'bitch_NOUN', 'ass_NO...      0
2     ['xarelto_NOUN', 'have_AUX', 'have_VERB', 'the...      0
3     ['it_PRON', 'be_AUX', 'over_ADV', 'as_ADP', 'o...      0
4     ['oh_INTJ', 'my_PRON', 'god_NOUN', 'he_PRON', ...      0
...                                                 ...    ...
3077  ['60_NUM', '+_SYM', 'hour_NOUN', 'awake_ADJ', ...      0
3078  ['up_ADV', 'early_ADV', 'for_ADP', 'my_PRON', ...      0
3079  ['thank_VERB', 'you_PRON', 'for_ADP', 'the_DET...      0
3080  ['kutcher_DET', 'hoist_NOUN', 'a_DET', 'camera...      0
3081  ['oh_INTJ', 'yep_INTJ', 'the_DET', 'only_ADJ',...      1

[3082 rows x 2 columns]